div#socials a.social {
  img {
    border: 1px solid transparent;
    border-radius: 15%;
    padding: 4px;
    transition: border 0.2s ease;
    max-height: 74px;
  }

  img:hover {
    border: 1px solid #798fd2;
  }

  display: inline-block;
}