{% load static %}
{% block header %}
  <link rel="stylesheet" href={% static 'marquee.css' %}>
  <style>
    @keyframes drop-open {
      0% {
        opacity: 1;
        left: 50%;
        transform: translateY(-100%);
        width: 0.1px;
      }
      25% {
        opacity: 1;
        width: 0.001px;
        transform: translateY(0);
        left: 50%;
      }
      100% {
        opacity: 1;
        width: 100%;
        transform: translateY(0);
      }
    }

    #header{
      --animation-delay: 3s
      opacity: 0;
      padding: 2.5px;
      position: relative;
      width:100%;
      top: 0; 
      background-color:#798fd2;
      animation-name: drop-open;
      animation-duration: 3s;
      animation-delay: var(--animation-delay);
      animation-fill-mode: forwards;
      left: 0;
    }
    
    a {
      text-decoration: none;
    }

    .marquee__content {
      animation-delay: calc(1.25*var(--animation-delay))
    }
  </style>
  <div id="header" class="marquee">
    <div class="marquee__content">
      {% for name, location in pages.items %}
        <a href="{{ location }}">{{ name }}</a> - 
      {% endfor %}
    </div> 
    <div class="marquee__content" aria-hidden="true">
      {% for name, location in pages.items %}
        <a href="{{ location }}">{{ name }}</a> - 
      {% endfor %}
    </div>  
  </div>
{% endblock %}